h1{
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
}
#column2{
    padding-left: 80px;
}
body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpiWLl4hhzL7owVdG2N4MTT_vmyM__mK0r7fHiJfrTdnq4oOuv");
    background-repeat: no-repeat;
    background-size: cover;
    color:aqua; 
     
/