nav>ul{
    text-align:left;
    margin-right:auto;
    margin-left:auto;
  }
 nav>ul>li{
    display:inline-block;
}
ul>li>a{
    color:aqua;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:bold;
    padding:5px;
    font-size:20px;
}
ul>li>a:hover{
    color: blue;
    background-color: rgb(255,255,255)
}
nav{
    position:fixed;
    top:0;
    max-width:50%;
}
#home{
      display: flex;
      flex-direction: row;
      height:600px;
      
}
h1{  
    width: 60%;
    font-family: 'Tangerine', open sans; 
    font-size: 140px;
    padding-top:10px;
    background-color: aquamarine;
    color:black;
    font-weight: normal;
    
}
body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpiWLl4hhzL7owVdG2N4MTT_vmyM__mK0r7fHiJfrTdnq4oOuv");
    background-repeat: no-repeat;
    background-size: cover;
    color:aqua;
    
}
img{
    /* margin-left: 100px; */
    padding-top: 94px;
}